.greeting {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2rem;
}

.pronunciation  {
  font-family: 'PT Sans', sans-serif;
  color: #bdbdbd;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 15px;
}

.navbar-hed {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 1.2rem;
}
