.greeting {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2rem;
}

.navbar-text {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 1rem;
  text-align: right;
}

.copy {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
}

.pronunciation  {
  font-family: 'PT Sans', sans-serif;
  color: #747474;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 5px;
}

.navbar-hed {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.section-hed{
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 1.8rem;
}

.portfolio-head {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: black;
}

.portfolio-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: black;
}

.section-hed {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: black;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFD0AE 40%);
}

.subhead  {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: black;
}
