::-moz-selection { /* Code for Firefox */
  background: #FFD0AE;
}

::selection {
  background: #FFD0AE;
}

.greeting {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 2rem;
}

.navbar-text {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 1rem;
  text-align: right;
}

.copy {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  color: #2e2e2e;
}

.pronunciation  {
  font-family: 'PT Sans', sans-serif;
  color: #747474;
  font-style: italic;
  font-size: 0.9em;
  padding-bottom: 5px;
  margin-top: -4px;
}

.navbar-hed {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.section-hed{
  font-family: 'PT Serif', serif;
  font-weight: 500;
  font-size: 2rem;
}

.img-h1 {
  width:100%;
  object-fit: cover;
  height: 100px;
  padding-bottom: 10px;
  align: center;
}

.img-h2 {
  width: 100%;
  object-fit: cover;
  height: 75px;
  padding-bottom: 5px;
  align: center;
}

.project-h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: #464646;
}

.project-h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 98%;
  letter-spacing: .5px;
  font-weight: 600;
  color: #464646;
}

.project-h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 85%;
  /* letter-spacing: .5px; */
  font-weight: 600;
  color: #464646;
}

.portfolio-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: black;
}

.section-hed {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .5px;
  font-weight: 700;
  color: black;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #FFD0AE 40%);
}

.subhead  {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: black;
}

.resume_line-item  {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 1rem;
}

.resume_line-item  {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 1rem;
}

.resume_place  {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}

.resume_duration  {
  position:absolute;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.95rem;
  right: 5px;
}

.opening-line-item  {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.external-link > a  {
  border-bottom: 2px solid black;
  color: black;
}

.external-link > a:hover  {
  border-bottom: 2px solid #4d4d4d;
  background: linear-gradient(180deg,rgba(255,255,255,0) 60%, #d6d6d6 40%);
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

  .resume-pdf > div {
  margin-top: 15px;
  border: solid 1px black;
  width: 200px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1.15rem;
  text-align: center;
}

.resume-pdf:hover {
  margin-top: 15px;
  border: solid 1px black;
  width: 200px;
  background-color: #4d4d4d;
}

.vivek-banner {
  background-color: #fef250; /* rgba(251, 177, 23, 0.75); /* #FEF250; */
  font-family: 'Consolas', monospace;
  font-size: 1rem;
  padding-left: 1rem;
}

.skill  {
  border-radius: 0px;
  background-color: #e6e6e6;
  padding: 0px 6px 0px 6px;
  border-radius: 2px;
}

div.col-8 > .subhead  > .skill {
  display: none;
}

.skill:hover  {
  background-color: #FFD0AE;
}

h1.storyHeadline  {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
}

h2  {
  font-family: 'PT Serif', serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.heroImg  {
  border-radius: 4px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-bottom: 2.5rem;
}

.topBox {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.subtitle {
  color: #262626;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
}

.pullQuote  {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 500;
  font-family: 'PT Serif', serif;
  border-left: 4px solid #222222;
  padding-left: 1rem;
}

.storyImg {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 2.5rem;
}

.desktopImg {
  width: 100%;
  display: none;
}

.mobileImg  {
  width: 100%;
  display: block;
  margin-bottom: 2.5rem;
}

.coverImg {
  height: 375;
}

.intro__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  font-size: 1.05rem;
  margin-bottom: 0;
  color: #1a70cb;
  text-transform: uppercase;
}

.intro__copy  {
  font-size: 1.2rem;
}

.intro__side_panel  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caseStudySummary {
  padding: 1.5rem;
  margin: 0.75rem auto 1.5rem auto;
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .herow  {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .storyImg {
    width: 100%;
  }

  .pullQuote  {
    width: 95%;
  }

  .desktopImg {
    display: block;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .mobileImg  {
    display: none;
  }

  .image-h2 {
    width: 100%;
    object-fit: cover;
    height: 10px;
    padding-bottom: 5px;
    align: center;
  }

  div.col-8 > .subhead  > .skill {
    display: inline;
  }

  div.col-8 > .subhead {
    margin-top: 4px;
  }
}
